body {
    background-image: url("assets/closeup_sunflower.jpg");
    background-size: cover;
}

#header {
    color: white;
}

#name {
    text-align: center;
    color: white;
    font-family: Georgia;
    font-size: 50px;
}

img {
    display: block;
    margin: auto;
    vertical-align: center;
    width: 150px;
    height: 100px;
}

#icons{
    font-size: 40px;
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 70px;
    float: center;
    position: center;
}

.material-icons.md-64 {
    font-size: 64px;
    margin: 15px;
}