body {
    background-image: url("assets/closeup_sunflower.jpg");
    background-size: cover;
}

#header {
    color: white;
}

#name {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-family: Georgia;
    font-size: 50px;
}

#content {
    font-size: 30px;
    color: rgba(50, 50, 50, 1);
    margin-top: 25px;
    text-align: center;
}

#icons{
    font-size: 40px;
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 170px;
    float: center;
    position: center;
}

.material-icons.md-64 {
    font-size: 64px;
    margin: 15px;
}

.material-icons.md-light {
    color: rgba(150, 150, 150, .85);
}

.material-icons.md-light:hover {
    color: rgba(127, 127, 127, .85);
}

.material-icons.md-light:active {
    color: rgba(100, 100, 100, .85);
}

