body {
    background-size: cover;
    background-image: url("assets/sunrise.jpg");
}

#header {
    color: white;
}

#name {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-family: Signika;
    font-size: 50px;
}

#content {
    background-color: rgba(122, 122, 122, .8);
    font-size: 30px;
    color: rgba(50, 50, 50, 1);
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    font-family: Lato;
    width: auto;
}

#icons{
    font-size: 40px;
    display: block;
    margin: auto;
    width: 400px;
    margin-top: 80px;
    float: center;
    position: center;
}

.material-icons.md-64 {
    font-size: 64px;
}

.material-icons.md-72 {
    font-size: 72px;
    
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, .85);
}

.material-icons.md-dark:hover {
    color: rgba(0, 0, 0, .85);
}

.material-icons.md-dark:active {
    color: rgba(0, 0, 0, .85);
}





/*add link to icons
//get better font - check google fonts
//figure out how to make that my homepage?
//better background image
make a second copy for the about page that uses bootstrap and compare
*/